<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzo2o.market.mapper.CouponMapper">

    <select id="queryList" resultType="com.jzo2o.market.model.dto.response.CouponInfoResDTO"
            parameterType="com.jzo2o.market.model.dto.request.CouponOperationPageQueryReqDTO">
        select
            *
        FROM
        coupon
        <where>
            <if test="activityId != null">
                AND activity_id = #{activityId}
            </if>

        </where>
    </select>
</mapper>
