<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzo2o.market.mapper.CouponMapper">

    <select id="queryList" resultType="com.jzo2o.market.model.dto.response.CouponInfoResDTO"
            parameterType="com.jzo2o.market.model.dto.request.CouponOperationPageQueryReqDTO">
        select
            *
        FROM
        coupon
        <where>
            <if test="activityId != null">
                AND activity_id = #{activityId}
            </if>

        </where>
    </select>
    <select id="my" resultType="com.jzo2o.market.model.dto.response.CouponInfoResDTO">
        SELECT *
        FROM coupon
        <where>
            user_id = #{aLong}
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="lastId != null">
                AND id &lt; #{lastId}
            </if>
        </where>
        ORDER BY id DESC
        LIMIT 10
    </select>
    <select id="getAvailable" resultType="com.jzo2o.api.market.dto.response.AvailableCouponsResDTO">
        SELECT
        id,
        name,
        activity_id,
        type,
        discount_rate,
        discount_amount,
        amount_condition,
        validity_time
        FROM coupon
        WHERE
        user_id = #{userId}
        AND status = 1
        AND validity_time > NOW()
        AND amount_condition &lt;= #{totalAmount}
    </select>

</mapper>
